.card-cont{
   width: 320px;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;
    border: solid rgb(231, 231, 231) thin;
    box-shadow: 0px 0px 60px 0px rgb(212, 212, 212);
   cursor: pointer;
   transition: .3s;
   margin: 10px;
}

.card-cont:hover{
    transform: scale(1.05);
 }

.card-cont img {
    width: 100%;
}

.card-details {
    padding: 10px 10px;
}

.card-details h1 {
    margin: 0%;
    color: #191919;
    font-family: 'Roboto';
    font-size: 20px;
}
    
.card-details p {
    margin: 0%;
    color: #7e7e7e;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 300;
    padding: 10px 0;
}

@media(max-width:600px){
    .card-cont{
        width: 300px;
         border-radius: 15px;
         background-color: white;
         overflow: hidden;
         border: solid rgb(231, 231, 231) thin;
         box-shadow: 0px 0px 60px 0px rgb(212, 212, 212);
     }
     
}
