.container {
  /* background-color: red; */
  max-width: 50%;
  margin: 0 auto;
}


@media (max-width: 1500px) {
    .container {
      /* background-color: red; */
      max-width: 80%;
    }
  }
  


@media (max-width: 600px) {
  .container {
    /* background-color: red; */
    max-width: 95%;
  }
}
