.gategory-picker {
  display: flex;
  border-bottom: thin solid #eee;
  margin-bottom: 5px;

  &__item {
    font-size: 1.6rem;
    padding: 10px 10px;
    color: #303030;

    &:hover {
      background-color: whitesmoke;
    }

    &--selected {
      font-weight: bold;
      border-bottom: thin solid #303030;
    }
  }
}
