.header-cont {
  text-align: center;
  // background-color: $color-primary;
  color: white;
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
  }
}



body {
  font-family: "Roboto", "Tajawal";
}
