.nav {
  height: 50px;
  font-size: 2rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  background-color: $color-dark1;
  color: whtie;
  align-items: center;

  &__brand{
      color: white;
      font-size: 2.5rem;
  }
}

.brand__icon{
  width: 35px;
  height: 35px;
}