.side-item{
    width: 100px;
    padding: 13px 20px;
    background-color: white;
    border-right: thin solid rgb(240, 240, 240);
    border-top : thin solid rgb(240, 240, 240);
    border-bottom : thin solid rgb(240, 240, 240);
    font-weight: 500;
    color: #191919;
    transition: .3s;
}

.side-item:hover{
    background-color: rgba(0, 0, 0, 0.01);
    cursor: pointer;
}