.video-list {
  background-color: red;
  margin-left: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: #eee 0 0 10px 0px;
  overflow-y: scroll;
  height: 80vh;
  width: 300px;

  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #ccc;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(173, 173, 173);
  }
  &__header {
    font-size: 2rem;
    color: gray;
    padding: 5px;
    // border-bottom: thin solid #ccc;
  }
  &--mobile{
      width: 100%;
      &::-webkit-scrollbar {
        width: 0px;
      }
  }
}
